<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dbResourceProvider" type="Bocce.Configuration.DbResourceProviderSection, Bocce" />
  </configSections>
  <connectionStrings>
    <add name="SQLConnectionString" connectionString="Data Source=.;Initial Catalog=MR_XRG_Capella_Demo;Integrated Security=SSPI" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="auto" culture="auto" resourceProviderFactoryType="Bocce.DBResourceProviderFactory, Bocce, Version=1.0.0.0, Culture=neutral" />
  </system.web>
  <dbResourceProvider databaseName="SQLConnectionString" defaultCulture="en-US" tableName="Localization" schema="dbo"  />
</configuration>