<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="dbResourceProvider" type="Bocce.Configuration.DbResourceProviderSection, Bocce" />
    </configSections>
    <connectionStrings>
      <add name="testDatabase" connectionString="Data Source=.;Initial Catalog=Scratch;Integrated Security=SSPI" />
    </connectionStrings>
    <system.web>
      <globalization uiCulture="auto" culture="auto" resourceProviderFactoryType="Bocce.DBResourceProviderFactory, Bocce, Version=1.0.0.0, Culture=neutral"/>
    </system.web>
    <dbResourceProvider databaseName="testDatabase" defaultCulture="en-US" tableName="Resources" schema="dbo" traceMatches="true" />
    <system.diagnostics>
        <sources>
            <source name="Bocce" switchValue="Verbose">
                <listeners>
                    <add name="xmlListener"/>
                    <add name="consoleListner"/>
                    <add name="databaseListner" type="Bocce.Diagnostics.DatabaseListener, Bocce" initializeData="[dbo].[trace]"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add type="System.Diagnostics.XmlWriterTraceListener" name="xmlListener" initializeData="C:\Projects\GitHub\Bocce\Bocce.svclog" traceOutputOptions="None" />
            <add type="System.Diagnostics.ConsoleTraceListener" name="consoleListner" traceOutputOptions="None" />
        </sharedListeners>
        <trace autoflush="true"/>
    </system.diagnostics>
</configuration>